/* Add your styles here */
table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  margin: 10px 5px;
  padding: 8px 16px;
  font-size: 14px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  height: 100vh;
  margin: 0;
}
.button-container {
   margin-bottom: 20px; /* Optional: Adjust spacing between buttons and the table */
  
}

.button-container button {
  margin: 10px 5px;
  padding: 8px 16px;
  font-size: 14px;
}